{% extends "base.html.j2" %}

{% block content %}
<a href="{% url 'login' %}">login</a>
<h1>Welcome to Cotton Road</h1>
<p>Buy your average shit on <b>the darkweb</b> <sup>at hugely inflated prices</sup><p>

{% endblock content %}