{% extends "base.html.j2" %}

{% block content %}
<div class="row justify-content-between">
    <div class="col col-auto"><a href="{% url 'index' %}">Return to the home page</a></div>
    <div class="col col-auto"><a href="{% url 'logout' %}'">Logout</a></div>
</div>
<hr>
<div class="border border-primary my-4 p-2 shadow bg-info bg-opacity-50"">
    <a href="{% url 'show_listing' listing.id %}"><h5>{{ listing.title }}</h5></a>
    <small class="text-muted">Created: {{ listing.date_created }}</small>
    <p><i>{{ listing.description }}</i></p>
    <p>Starting price: <b>{{ listing.starting_bid }}</b></p>
    <span>Seller: <b>{{ listing.seller }}</b></span>
</div>
{% endblock content %}