{% extends "base.html.j2" %}

{% block content %}
<div class="card">
    <h5 class="card-header">Login</h5>
    <div class="card-body">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="mb-3 row">
                <label for="username" class="col-sm-2 col-form-label">Username</label> 
                <div class="col-sm-10">
                    <input value="{% if form.username.value %}{{ form.username.value }}{% endif %}" 
                        id="username" name="username" type="text" placeholder="username" 
                        class="form-control" maxlength="150">
                    {% if form.username.errors %}
                        {% for err in form.username.errors %}
                            <small class="text-muted">{{ err }}</small><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input value="{% if form.email.value %}{{ form.email.value }}{% endif %}" 
                        id="email" name="email" type="email" placeholder="email" 
                        class="form-control" maxlength="254" required>
                    {% if form.email.errors %}
                        {% for err in form.email.errors %}
                            <small class="text-muted">{{ err }}</small><br>
                        {% endfor %}
                    {% endif %} 
                </div>
            </div>
            <div class="mb-3 row">
                <label for="first_name" class="col-sm-2 col-form-label">First name</label>
                <div class="col-sm-10">
                    <input value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" 
                        id="first_name" name="first_name" type="text" placeholder="first_name" 
                        class="form-control" maxlength="150">
                    {% if form.first_name.errors %}
                        {% for err in form.first_name.errors %}
                            <small class="text-muted">{{ err }}</small><br>
                        {% endfor %}
                    {% endif %} 
                </div>
            </div>
            <div class="mb-3 row">
                <label for="last_name" class="col-sm-2 col-form-label">Last name</label>
                <div class="col-sm-10">
                    <input value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" 
                        id="last_name" name="last_name" type="text" placeholder="last_name" 
                        class="form-control" maxlength="150">
                    {% if form.last_name.errors %}
                        {% for err in form.last_name.errors %}
                            <small class="text-muted">{{ err }}</small><br>
                        {% endfor %}
                    {% endif %} 
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input id="password" name="password" type="password" placeholder="password" 
                        class="form-control" maxlength="150"> 
                    {% if form.password.errors %}
                        {% for err in form.password.errors %}
                            <small class="text-muted">{{ err }}</small><br>
                        {% endfor %}
                    {% endif %} 
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Register Account</button>
        </form>
    </div>
</div>

{% endblock content %}